Repository MissouriMRDT/Drone_Autonomy_Software, pull requests merged in 2023-08, with the labels that each got.

#3 Add Logo and Fix Build Type
  CMakeLists.txt
  data/CPACK/logo.ico
Labels: 1-Star, actions, bug

#4 *** Iterate Versions ***
  .devcontainer/Dockerfile_Focal
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  CMakeLists.txt
  Doxyfile
  src/IdentitySoftware.h
Labels: 1-Star, docker, enhancement, formatting

#5 Shorten Release Names
  .github/workflows/deploy_autonomy.yml
Labels: 1-Star, actions, bug

#9 Add gruntfuggly.todo-tree extension to environment
  .devcontainer/devcontainer.json
Labels: 1-Star, dev-environment, enhancement

#12 Fix Line Endings of CMake Installer
  .devcontainer/install-cmake.sh
Labels: 1-Star, bug

#11 Add MAVSDK to Drone Docker Environment
  .devcontainer/Dockerfile_Focal
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  .devcontainer/devcontainer.json
  CMakeLists.txt
  README.md
Labels: 2-Star, dev-environment, docker, enhancement
